<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Choices</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/style.css' %}">

</head>

<body class="container bg-info">
  {% csrf_token %}
    <h1 class="text-white">Απαντήσεις του Ασθενούς {{ patient.IDENTITY }}</h1>

    {% if patient_choices %}
        <table class="table table-striped text-white" border="1">
            <thead>
                <tr>
                    <th>Ερώτηση</th>
                    <th>Πρώτη Απάντηση</th>
                    <th>Δεύτερη Απάντηση</th>
                    <th>Σημειώσεις</th>
                </tr>
            </thead>
            <tbody>
                {% for choice in patient_choices %}
                    <tr>
                        <td>{{ choice.question.question_text|safe }}</td>
                        <td>{{ choice.first_answer }}</td>
                        <td>{{ choice.second_answer }}</td>
                        <td>{{ choice.notes }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'poll:download_patient_choices_csv' patient.id %}" class="btn btn-primary" download>
          Download CSV
        </a>

        <a class="btn btn-primary" href="{% url 'poll:del_patient' %}?id={{ patient.id }}">διαγραφή ασθενή</a>

        <a class="btn btn-primary" href="{% url 'poll:edit_patient' patient.id %}">επεξεργασια στοιχειων</a>
    {% else %}
        <p>Ο ασθενής δεν έχει δώσει ακόμη απαντήσεις.</p>
        <a class="btn btn-primary" href="{% url 'poll:del_patient' %}?id={{ patient.id }}">διαγραφή ασθενή</a>

        <a class="btn btn-primary" href="{% url 'poll:edit_patient' patient.id %}">επεξεργασια στοιχειων</a>
    {% endif %}
</body>
</html>
