<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'poll/css/style.css' %}">

  </head>

  <body class="">

    <h1 class="display-4" style="color:#2083CE;">Αποθηκευμένοι ασθενείς</h1>



    {% csrf_token %}

    <div class="mb-3">
      <form class="" action="{% url 'poll:search_patients' %}" method="get">

        <label for="searchInput" class="form-label">Αναζήτηση Ασθενούς:</label>
        <input type="text" name="IDENTITY" class="form-control" id="searchInput" placeholder="Εισάγετε το όνομα...">
        <button type="submit" class="btn btn-primary">Αναζήτηση</button>
      </form>
    </div>
    <div class="">
      {% for patient in patients %}

      <ol class="list-group">
        <a class="text-dark" href="{% url 'poll:patient_choices' %}?id={{ patient.id }}">
          <li class="list-group-item list-group-item-action badge rounded-pill">

              {{ patient }}

            </li>
        </a>


      </ol>

    </div>

    {% endfor %}
    <br>
    <a href="{% url 'poll:download_all' %}" class="btn btn-primary" download>
      Download CSV For All
    </a>

      <h2><a href="{% url 'index' %}">Πίσω στο Κέντρο Ημέρας</a></h2>



  </body>
</html>
